
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}

#root{
    height: 100%;
}
/* 
.ant-layout-content{
    background-image: url("./img/tempback_img.jpg");
    height: 1000px;
    opacity: 10%;
    display: flex;
    z-index:1; 
    
}
.site-layout-content{
    z-index:0;
    opacity: 100%;
    color: black;
    
    
} */
#schedule{
  display:flex;
  flex-direction: row;
}
#scroll .dx-draggable{
  display:flex;
  flex-direction:row;
  text-align: center
}
.item {
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#scheduler {
    margin-left: 50px;
    margin-right: 50px;
}

.dx-draggable-source {
    opacity: 0.5;
}

.dx-draggable-dragging > * {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.2);
}

.showtime-preview > div:first-child {
    font-size: 12px;
    white-space: normal;
  }
  
  .showtime-preview > div:not(:first-child) {
    font-size: 11px;
    text-align: center;
    white-space: normal;
  }

  .movie-tooltip .movie-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
  }
  
  .movie-tooltip img {
    height: 80px;
    margin-bottom: 10px;
  }
  
  .movie-tooltip .movie-title {
    font-size: 1.5em;
    line-height: 40px;
  }

  .movie-tooltip{
      width: 200px;
      margin: 0 auto;
  }

.dx-scheduler-all-day-panel{
  display: none;
}
.dx-scheduler-all-day-title{
  display: none;
}

.dx-scheduler-time-panel-cell, .dx-scheduler-cell-sizes-vertical{
  height: 400px;
}
